body, html{
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #f0f0f0;
}

.navUl{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #553c8b;
}

.navUl.fixed{
    position: fixed;
    top: 0;
}

.navLi{
    float: left;
}

.navLi.create{
    float: right;
}

.navLi a{
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 14px 20px;
    text-decoration: none;
}

.navLi.hover a:hover{
    background-color: #411a94;
}

.board{
    margin: 50px auto;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 10px;
    width: 560px;
    max-height: 500px;
    box-shadow: 2.5px 2.5px 2px 2px #ccc;
}

.board a{
    text-decoration: none;
    color: black;
}

.content{
    margin: 40px;
}

.title{
    font-size: 28px;
    font-weight: bold;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name, .date{
    margin: 10px 0;
    margin-bottom: 30px;
    display: inline-block;
    color: gray;
    font-size: 14px;
}

.description{
    max-height: 320px;
    line-height: 2em;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.commentCount{
    margin-top: 10px;
}

/*채팅*/

#userSet{
    position: fixed;
    top: 50%;
    right: 10px;
    display: block;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background: #fff;
}

h3{
    text-align: center;
}

#userNameInput{
    outline: none;
    box-sizing: border-box;
    height: 25px;
}

#submit{
    border: none;
    background-color: #553c8b;
    color: white;
    width: 40px;
    height: 25px;
}

#chat{
    position: fixed;
    top: 50%;
    right: 10px;
    display: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background: #fff;
}
#msgOutputDiv{
    width: 300px;
    height: 300px;
    line-height: 30px;
    overflow-y: auto;
    word-wrap: break-word;
}
#inputContainer{
    margin: 10px 0 0 0;
}

#msgInput{
    outline: none;
    box-sizing: border-box;
    width: 250px;
    height: 25px;
}
